/* estilos contenedor*/
.container_menu{
    width: 100%;
    height: 55px;
    background-color: #333333;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
}

.menu{
    display: flex;
    gap: 50px;
}

.menu li{
    list-style: none;
    padding-right: 10px;
}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.boton_navbar{
    justify-content: flex-start;
}